#top-title {
	font-weight: 500;
	font-size: 3.5rem !important;
	line-height: 1.3em !important;
}

@media screen and (max-width:550px) {
	#top-title {
		font-weight: 500;
		font-size: 3rem !important;
		line-height: 1.2em !important;
		padding-bottom: 2rem;
	}
} 


.stfu-community {
	width: 100%;
	text-align: center;
}

.stfu-img-container {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: relative;
}

img.stfu-img {
	height: 100%;
	width: 100%;
}

.stfu-img-container .stfu-subject {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color:yellow;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	background: black;
	padding: 2px;
	text-transform: uppercase;
	font-size: 1.6rem;
	padding: 5px;
}


nav.navbar {
	background: transparent;
}

nav.navbar.shrink {
	background-color: rgba(0,0,0,0.9);
}

nav img.stfu-logo {
	max-height: 70px !important;
	margin-top: -15px;
	margin-bottom: -15px;
	transition: 0.3s;
}

nav.navbar.shrink img.stfu-logo {
	max-height: 50px !important;
	margin-top:-25px;
}

#hero-section6 {

    margin-top: 0px;
}

@media (max-width: 767px) {
	#hero-section6 .container{
	    padding-top: 64px;
	}
}

@media (max-width: 991px){
	#hero-section6 .container{
	    padding-top: 82px;
	}
}

#hero-section6 .container{
    padding-top: 86px;
}

